

          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
              Show Previous Message!
              </a>
            </div>
          </div>
          {% for x in my_dict %}
            {% if x.Sender == request.session.user %}
          <div class="row message-body" id="messgae-body" >
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  {{x.Message}}
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div>
            {% else %}
            <div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                 {{x.Message}}
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div>
            {% endif %}
          {% endfor %}




        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->

        <!-- Reply Box End -->
